.is-invalid {
    border-color: #dc3545;
}

.time-slot,
.edit-time-slot {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background-color: #f0f8ff;
  border: 1px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.time-slot:hover,
.edit-time-slot:hover {
  background-color: #007bff;
  color: white;
}